h1, p {
	color: #ffffff;
}

h1 {
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}


.content {
	margin: 0 auto;
	background-color: #310C5A;
	text-align: center;
	width: 500px;
	padding: 10px 20px 15px 20px;
	border-radius: 35px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)
}